body{
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4%;
    
}

:placeholder-shown{
    opacity: 90%;
}

button{
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.4rem;
    border-collapse: collapse;
    margin-top: 4px;
    border: none;
    font-weight: bold;
}

#saveInpButton, #saveTabButton{
    background-color: rgb(40, 204, 40);
    color: rgb(232, 235, 232)
}
