{% extends "common/base-template.html" %}

{% block titleCustom %}
    {% if pageDetails.isHomeMenu %}Home{% endif %} 
{% endblock titleCustom %}

{% block headCustom %}
    {% include "partials/heads/head-components/style-home.html" %}

    {% include "partials/heads/head-components/style-search.html" %}
    {% include "partials/heads/head-components/style-cards.html" %}
{% endblock headCustom %}

{% block content %}
    {% comment %} insert here the page content {% endcomment %}
    {% include "partials/components/search-bar.html" %}
    
    <div>
        <h1>Em Alta</h1>
        <section class="main-receitas-section grid-container">
            {% for receita in receitas %}
                {% include "partials/components/receita-card.html" %}
            {% endfor %}
        </section>
    </div>
{% endblock content %}
            