{% extends "common/base-template.html" %}

{% load static %}

{% block titleCustom %}
    {% if pageDetails.isHome %}Home{% endif %} 
    {% if pageDetails.isCategory %} {{ titleCategory }} {% endif %} 
    {% if pageDetails.isCollectionMenu %} {{ collection.titleCollection }} {% endif %} 
{% endblock titleCustom %}

{% block headCustom %}
    {% include "partials/heads/head-components/style-home.html" %}
    {% include "partials/heads/head-components/style-cards.html" %}
{% endblock headCustom %}

{% block content %}
    {% comment %} insert here the page content {% endcomment %}
    <div>
        {% if pageDetails.isHome %}
            <img width=100% title="presentation" src={% static "Receitas/imgs/home-presentation.jpg" %} alt="default-home">
            <h1>Em Alta</h1>
        {% elif pageDetails.isCategory %}
            <img src={{ imageCategory.url }} alt="default-categoria">
            <h1>Categoria: {{ titleCategory }} </h1>
        {% endif %}
        <section class="main-receitas-section grid-container">
            {% for receita in receitas %}
                {% include "partials/components/receita-card.html" %}
            {% endfor %}
        </section>
    </div>
{% endblock content %}