{% extends "common/base-template.html" %}

{% block titleCustom %}{{ receita.titleReceita }}{% endblock titleCustom %}

{% block headCustom %}
    {% include "partials/heads/default-head.html" %}
    
    {% include "partials/heads/head-components/style-search.html" %}
    {% include "partials/heads/head-components/style-cards.html" %}
    {% include "partials/heads/head-components/style-switcher.html" %}

    {% include "partials/heads/head-components/style-receita.html" %}
{% endblock headCustom %}

{% block content %}
    {% include "partials/components/receita-switcher.html" %}
    
    <section class="main-receitaPage-section">
        {% include "partials/components/receita-card.html" %}
    </section>

    {% include "partials/components/receita-switcher.html" %}
{% endblock content %}
