**/.vscode/
settings.json
execs
__pycache__
html/images
javascript/live.html
../javascript/live.html
programacionesss\javascript\live.html
GPU-Z Sensor Log.txt
javascript/examples/
sql/unifametro--mainQuerys/selectParams.pdf
java/**/*.class
venv
data.json
python/tutorsss/librs/django/projetos/static/admin/
.coverage