backup(cell)/programação(back)/abluble.py
backup(cell)/programação(back)/aula2.py
backup(cell)/programação(back)/automate.py
backup(cell)/programação(back)/decrescente.py
backup(cell)/programação(back)/euler.py
backup(cell)/programação(back)/evenoddcheck.py
backup(cell)/programação(back)/fcts.py
backup(cell)/programação(back)/lista.py
backup(cell)/programação(back)/listasSimple.py
backup(cell)/programação(back)/mypage.html
backup(cell)/programação(back)/passwordGenerator.py
backup(cell)/programação(back)/primechecker.py
backup(cell)/programação(back)/time.py
backup(cell)/programação(back)/traco.py
backup(cell)/programação(back)/users.csv
backup(cell)/programação(back)/users.py
backup(cell)/programação(back)/usersClass.py
backup(cell)/programação(back)/__pycache__/fcts.cpython-39.pyc
backup(cell)/programação(back)/__pycache__/pandas.cpython-39.pyc
backup(cell)/programação(back)/códigos fonte/brasilescola.html
backup(cell)/programação(back)/hacker%3f/fcts2.py
backup(cell)/programação(back)/hacker%3f/main.py
backup(cell)/programação(back)/hacker%3f/__pycache__/fcts2.cpython-39.pyc
backup(cell)/programação(back)/inheritance/fcts1.py
backup(cell)/programação(back)/inheritance/users.py
backup(cell)/programação(back)/inheritance/usersClass.py
backup(cell)/programação(back)/inheritance/usersSecondClass.py
backup(cell)/programação(back)/inheritance/__pycache__/fcts1.cpython-39.pyc
backup(cell)/programação(back)/inheritance/__pycache__/usersClass.cpython-39.pyc
backup(cell)/programação(back)/inheritance/__pycache__/usersSecondClass.cpython-39.pyc
backup(cell)/programação(back)/tutorsss/anotações.txt
backup(cell)/programação(back)/tutorsss/aula 2.py
backup(cell)/programação(back)/tutorsss/days.py
backup(cell)/programação(back)/tutorsss/fcts0.py
backup(cell)/programação(back)/tutorsss/forrelatio.py
backup(cell)/programação(back)/tutorsss/groupby+loop.py
backup(cell)/programação(back)/tutorsss/itertoolslibr.py
backup(cell)/programação(back)/tutorsss/lambda.py
backup(cell)/programação(back)/tutorsss/soma.py
backup(cell)/programação(back)/tutorsss/somelibrarys.py
backup(cell)/programação(back)/tutorsss/title.py
backup(cell)/programação(back)/tutorsss/Vars.py
backup(cell)/programação(back)/tutorsss/__pycache__/fcts0.cpython-39.pyc
.vscode
execs
__pycache__
html/images
javascript/live.html
../javascript/live.html
programacionesss\javascript\live.html