<!-- Carregando de static's -->
{% load static %}

<!-- Default Head -->

<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Carregando custom CSS-->
    <link rel="stylesheet" href="{% static "styles/vars.css" %}">
    <link rel="stylesheet" href="{% static "styles/common.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
    {% include "partials/extras/awsm-font.html" %}

    <title>Home - Recipes</title>
</head>