* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.costumText {
    font-family: Impact;
    font-size: xx-large;
}

.totem {
    float: right;
}

#countPresser{
    background-color: rgb(83, 214, 83);
}

#decreasePresser{
    background-color: rgb(200, 230, 31);
}

#resetPresser{
    background-color: red;
    font-family: Impact;
}

#savePresser{
    float: right;
    background-color: rgb(33, 236, 236);
    font-family: cursive;
}
#saves{
    font-size: medium;
    float: right;
}
#saveResetPresser{
    float: right;
    padding-block-start: 10cap;
    font-family: Impact;
}


#failbutton{
    font-size: small;
    border-radius: 2rem;
    border-collapse: collapse;
    width: fit-content;
    height: fit-content;
}
#fail{
    font-family: Impact;
    color: red;
    font-size: x-large;
    
}

.elementChanger{
    float: left;
    font-size: large;
}
#nikeChangerButton{
    font-size: small;
}

#calcResult{
    color: rgb(46, 197, 46);
    text-shadow: 2px #000;
}