.main-receitaPage-section{
    height: calc(100% + 20rem);
    max-height: 300rem;
}

/* Cards custom for individual recipe */
.receita-card img{
    height: 450px !important;
}
.receita-details-container{
    width: calc(100% - 10rem) !important;
    margin: 2rem 0px !important;
    justify-content: flex-start !important;
}    

.receita-card{
    box-shadow: 0px 2px 10px 5px rgb(0,0,0, 0.5) !important;
}
.receita-card:hover{
    transform: unset !important;
}