.main-receitaPage-section{
    max-height: 300rem;
}

/* Switcher: display counter */
section.main-receitaPage-section + nav.receita-switcher{
    & .counter-receitas, i{
        display: inline-block;
    }
}

/* Cards custom for individual recipe */
.receita-details-container img{
    width: 100%;
}
.receita-details-container{
    width: calc(100% - 10rem);
    justify-content: flex-start;
}    

.receita-card{
    box-shadow: 0px 2px 10px 5px rgb(0,0,0, 0.5);
}
.receita-card:hover{
    transform: unset;
}