.main-receitaPage-section{
    height: calc(100% + 20rem);
    max-height: 300rem;
}

/* Switcher: display counter */
section.main-receitaPage-section + nav.receita-switcher{
    & .counter-receitas, i{
        display: inline-block;
    }
}

/* Cards custom for individual recipe */
.receita-card img{
    height: 450px;
}
.receita-details-container{
    width: calc(100% - 10rem);
    margin: 2rem 0px;
    justify-content: flex-start;
}    

.receita-card{
    box-shadow: 0px 2px 10px 5px rgb(0,0,0, 0.5);
}
.receita-card:hover{
    transform: unset;
}