/* Main */
main.wrapper h1{
    font-size: 1.5rem;
    margin-top: 0rem;
    padding-top: 0rem;
}

/* *Em Alta */
/* Grid */
.grid-container{
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 0.8fr));
    grid-template-rows: repeat(auto-fit, minmax(10rem, 0.27fr));
    grid-gap: 2rem;
    justify-content: center;
    margin-top: 0.8rem;
}
