/* unificando tamanhos de fonte */
:root{
    --receita-details-small-font: 0.7rem;
    --receita-details-medium-font: 1rem;
    --receita-details-bigger-font: 1.7rem;
}

/* Cards de Receitas */
.receita-card{
    position: relative;
    z-index: 5;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 6px 1px rgb(0,0,0, 0.45);
    
    transition: all 0.2s ease-out;
}

.img-cropper{
    position: relative;
    background-color: var(--color-gray-1);
    width: 100%;
}
.receita-card img{
    margin-top: 0rem;
    width: 100%;
    height: 195px;
    object-fit: cover;
}
.receita-details-container{
    position: inherit;
    margin: 0.5rem 0.8rem;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
}
.receita-header{
    width: 100%;
    justify-content: space-between;    
}
.receitas-details-title{
    margin: 0px;
    width: fit-content;
    max-width: 21rem;
    font-size: var(--receita-details-bigger-font);
    align-self: flex-start;
}

/* tempo de preparo */
.receita-details-preparation{
    flex-grow: 0;
    flex-shrink: 0;
    place-self: start end;
    width: fit-content;
    height: fit-content;

    padding-top: auto;

    & b{
        font-size: var(--receita-details-medium-font);
    }
    & .fa, .fa-solid{
        font-size: var(--receita-details-medium-font);
    }
    & .timeUnitContent{
        font-size: calc( var(--receita-details-small-font) - 0.2rem );
    }
}

.receita-details-preparation div.inner-preparation-content{
    flex-direction: column;
    position: relative;
    top: 10px;
}

/* detalhes - abaixo do título */
.receita-publicationDetails-container{
    line-height: 2rem;
    flex-wrap: wrap;  
    width: 100%;
    margin: 0.6rem 0rem;
    font-family: 'Open Sans', sans-serif;

    & b, a, date{
        word-break: keep-all;
        font-size: var(--receita-details-small-font);
        padding-right: 0.7rem;
    }
    & .fa{
        font-size: 0.8rem;
    }
    & a{
        color: var(--color-link-light);
        font-weight: bolder !important;
    }
}

/* descrição */
.receita-description{
    place-self: flex-start;
}
.receita-description h4{
    margin: 0px;
}
.receita-description-content{
    font-size: 0.7rem;
    margin: 0.2rem 0px;
}

/* Show More div */
.more-details{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    
    opacity: 0%;
    transition: all 0.2s ease-out;

    & h3, a{
        z-index: 100;
    }
}
.more-details h3{
    font-size: var(--receita-details-bigger-font);
    text-decoration: underline;
    margin: 0px 0px 0.4rem;
}
.more-details a{
    padding: 0.4rem;
    background-color: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    border-radius: 0.4rem;
    
    transition: all 0.2s ease-out;
}
/* background in details */
.more-details::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--color-primary-hover);
    opacity: 0%;

    transition: inherit;
}

/* Hover on Cards */
.receita-card:hover{
    box-shadow: 0px 2px 10px 5px rgb(0,0,0, 0.5);
    transform: scale(1.023);
}

.more-details:hover{
    opacity: 100%;
}
.more-details:hover a{
    background-color: white;
}
.more-details a:hover{
    transform: translateY(0.5rem);
}

/* background */
.more-details:hover::before{
    opacity: 50%;
}
/* TODO: corrigir com script: textos flutuantes da seção 'more-details' quando a imagem não existe ou não foi carregada */