/* Remove the X in search inputs */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Search bar  */.search-container{
    flex-direction: row;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.3rem 0.5rem;

    transition: all 0.4s ease-out;
}
#main-search-bar{
    border: 0px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-style: italic;
    border-radius: 0.2rem;
    padding: 0.3rem;
    transition: inherit;
}
#main-search-bar-button{
    border: none;
    margin-left: 0.2rem;
    padding: 0.5rem;
    height: auto;
    border-radius: 50%;
    background-color: var(--color-primary-hover);
}
#main-search-bar::placeholder{
    font-size: medium;
    font-style: normal; 
}
.search-icon{
    font-size: 1rem;
    transition: 0.2s all ease-out;
}

/* Focus on search bar */
.search-container:focus-within{
    padding: +0.45rem;
    background-color: var(--color-primary-focus);
}
.search-container:focus-within {
    & #main-search-bar, & #main-search-bar-button{
        padding: 0.4rem;
    };

    & input#main-search-bar{
        width: 270px;
    };

    & #main-search-bar-button{
        background-color: var(--color-primary-focus);
    }
}

.search-container:focus-within .search-icon{
    color: white;
    font-size: 1.3rem;
}