{% extends "common/base-template.html" %}

{% block titleCustom %}
    {% if pageDetails.isHome %}Home{% endif %} 
    {% if pageDetails.isCollection %} {{ collection.titleCollection }} {% endif %} 
{% endblock titleCustom %}

{% block headCustom %}
    {% include "partials/heads/head-components/style-home.html" %}
    {% include "partials/heads/head-components/style-404.html" %}
{% endblock headCustom %}

{% block content %}
    {% comment %} insert here the page content {% endcomment %}
    <h1>Error 404</h1>
    <h2> Desculpa, essa página não existe. </h2>
    <h3>Tente denovo a partir do botão de início na parte superior</h3>     
{% endblock content %}