{% extends "common/base-template.html" %}

{% block titleCustom %}
    [404] Not Found
{% endblock titleCustom %}

{% block headCustom %}
    {% include "partials/heads/head-components/style-home.html" %}
    {% include "partials/heads/head-components/style-404.html" %}
{% endblock headCustom %}

{% block content %}
    {% comment %} insert here the page content {% endcomment %}

    {% if 404_message %}
        <h1>Error 404</h1>
        <h2>Desculpa, {{ 404_message }}. </h2>
        <h3>Tente denovo a partir do botão de início na parte superior</h3>     
    {% else %}
        <h1>Error 404</h1>
        <h2>Desculpa, essa página não existe. </h2>
        <h3>Tente denovo a partir 
            <a href={% url "Home" %}>
                <button style="padding: 0px 5px; margin: 0px 2px;">
                    Deste Botão
                </button>   
            </a></h3>     
    {% endif %}

{% endblock content %}