<!-- Carregando variáveis do ambiente Django -->
{% load static %} 

<!-- Documento -->
<head>
    <meta charset='UTF-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static "styles/common.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">

    <title>Home - Recipes</title>
</head>
<body>
    <header class="flex-container">
        <h1>Receitas</h1>
    </header>
</body>