{% comment %} {% load static %} {% endcomment %}
 
{% comment %} cards de receitas interativos, para o Menu principal {% endcomment %}
<div class="receita-card flex-container no-decoration">

    {% comment %} imagem apresentação {% endcomment %}
    {% comment %} TODO: criar pop-up para ver mais imagens da receita {% endcomment %}
    <div class="img-cropper">
        {% if pageDetails.isHomeMenu %}
        {% comment %} See Details hover button {% endcomment %}
            <div class="more-details flex-container">
                <h3>Passo a passo?</h3>
                <a href="{% url "Receita" receita.idPage %}">
                    <i>👆🏼</i>
                    Clique
                </a>
            </div>
        {% endif %}
    <img width="auto" height="auto" src={{ receita.imageReceita.url }} alt="Receita do título">
    </div>


    
    {% comment %} detalhes em texto {% endcomment %}
    <div class="receita-details-container flex-container">
        <div>
            <header class="receita-header flex-container">
                {% if pageDetails.isHomeMenu %}
                    {% comment %} Título com link {% endcomment %}
                    <a class="decorated-link" href="{% url "Receita" receita.idPage %}">
                        <h4 class="receitas-details-title"> {{ receita.titleReceita }} </h4>
                    </a>
                {% elif pageDetails.isReceitaDetail %}
                    {% comment %} Título sem link {% endcomment %}
                    <h4 class="receitas-details-title"> {{ receita.titleReceita }} </h4>
                {% endif %}

                <div class="receita-details-preparation">
                    
                    <b> <i class="fa fa-clock-o" aria-hidden="true"></i> {% comment %} !icon not showing{% endcomment %}
                        {{ receita.preparationTime }} {{ receita.preparationTimeUnit }}</b> {% comment %} TODO: personalizar unidade com fonte menor {% endcomment %}
                </div>
            </header>

            <div class="receita-publicationDetails-container flex-container">
                <b><i class="fa fa-user" aria-hidden="true"></i> {{ receita.userSubmitted.first_name }} </b>
                <date datetime="{{ receita.publicationDate }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{ receita.publicationDate }} 
                </date>
                <a href={{ receita.userSubmitted.email }}><i class="fa fa-envelope no-decoration" aria-hidden="true"></i> {{ receita.userSubmitted.email }} </a>
            </div>
        </div>

        {% if pageDetails.isReceitaDetail %}
            <hr>
        {% endif %}

        <div class="receita-description">
            <h4>Description</h4>
            <p class="receita-description-content">
                {{ receita.descriptionResumed }}
            </p>
        </div>
    </div>
    
</div>
