{% comment %} {% load static %} {% endcomment %}
 
{% comment %} cards de receitas interativos, para o Menu principal {% endcomment %}
<div class="receita-card flex-container no-decoration">

    {% comment %} imagem apresentação {% endcomment %}
    {% comment %} TODO: criar pop-up para ver mais imagens da receita {% endcomment %}
    <div class="img-cropper">
        {% if pageDetails.isDefaultMenu %}
        {% comment %} See Details hover button {% endcomment %}
            <div class="more-details flex-container">
                <h3 class="white-text">Passo a passo?</h3>
                <a href="{% url "Receita" receita.idPage %}">
                    <i>👆🏼</i>
                    Clique
                </a>
            </div>
        {% endif %}
    <img width="auto" height="auto" src={{ receita.imageReceita.url }} alt="Receita do título">
    </div>
    
    {% comment %} detalhes em texto {% endcomment %}
    <div class="receita-details-container flex-container">
        <div>
            <header class="receita-header flex-container">
                {% if pageDetails.isDefaultMenu %}
                    {% comment %} Título com link {% endcomment %}
                    <a class="decorated-link" href="{% url "Receita" receita.idPage %}">
                        <h4 class="receitas-details-title"> {{ receita.titleReceita }} </h4>
                    </a>
                {% elif pageDetails.isReceitaDetail %}
                    {% comment %} Título sem link {% endcomment %}
                    <h4 class="receitas-details-title"> {{ receita.titleReceita }} </h4>
                {% endif %}

                <div class="receita-details-preparation ">
                    <div class="inner-preparation-content flex-container">
                        <i class="fa-solid fa-clock"></i>
                        <b> 
                            {{ receita.preparationTime }} 
                            <span class="timeUnitContent">{{ receita.preparationTimeUnit }}</span>
                        </b>
                    </div>
                </div>
            </header>

            <div class="receita-publicationDetails-container flex-container">
                <b><i class="fa fa-user" aria-hidden="true"></i> {{ receita.userSubmitted.first_name }} </b>
                <a href="https://{{ receita.userSubmitted.email }}"><i class="fa fa-envelope no-decoration" aria-hidden="true"></i> {{ receita.userSubmitted.email }} </a>
                <date date="{{ receita.publicationDate }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i> {{ receita.publicationDate }} 
                </date>
            </div>
        </div>

        {% if pageDetails.isReceitaDetail %}
            <hr>
        {% endif %}

        <div class="receita-description">
            <h4>Descrição</h4>
            <p class="receita-description-content">
                {{ receita.descriptionResumed }}
            </p>
        </div>
    </div>
    
</div>
