<!-- Carregando de static's -->
{% load static %}

<!-- Default Head -->
<meta charset='UTF-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Carregando custom CSS-->
<link rel="icon" href="{% static "Receitas/imgs/main-icon.png" %}">
<link rel="stylesheet" href="{% static "Receitas/styles/vars.css" %}">
<link rel="stylesheet" href="{% static "Receitas/styles/common.css" %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
{% include "partials/extras/awsm-font.html" %}  
{% include "partials/heads/head-components/style-search.html" %}