<!-- Carregando variáveis do ambiente Django -->
{% include "partials/heads/default-head.html" %}

<!-- Documento -->
<body>
    <header class="flex-container flex-header">
        <div class="wrapper flex-container">
            <a href="" class="flex-container">
                <span class="fas fa-utensils icon-text"></span>
                <h1 class="main-logo-text">Receitas</h1>
            </a>
        </div>
    </header>

    <main class="black-text">
        <nav>
            {% include "partials/components/search-bar.html" %}
        </nav>

        <section class="main-receitas-section grid-container">
            <span>other things...</span>

            <span>a</span>
        </section>

        <footer>
            <a href="#top" tabindex="-1">Return to Search</a>
        </footer>
    </main> 
</body>