{% load static %}

{% comment %} cards de receitas interativos, para o Menu principal {% endcomment %}
<div class="receita-card flex-container no-decoration" href="">
    {% comment %} imagem apresentação {% endcomment %}
    <div class="img-cropper">
        {% if pageDetails.isMainMenu == true %}
        {% comment %} See Details hover button {% endcomment %}
            <div class="more-details flex-container">
                <h3>Passo a passo?</h3>
                <a><i class="fa-solid fa-hand-pointer"></i>Clique</a>
            </div>
        {% endif %}
        <img src={{ receita.imageReceita }} alt="Receita do título">
    </div>

    {% comment %} detalhes em texto {% endcomment %}
    <div class="receita-details-container flex-container">
        <div>
            {% if pageDetails.isMainMenu == true %}
                <a class="decorated-link" href="">    
                    <h4 class="receitas-details-title"> '{{ receita.titleReceita }}' </h4>
                </a>
            {% elif pageDetails.isDetailMenu == true %}
                <h4 class="receitas-details-title"> '{{ receita.titleReceita }}' </h4>
            {% endif %}

            <div class="receita-publicationDetails-container flex-container">
                <b><i class="fa fa-user" aria-hidden="true"></i> '{{ receita.userFirstName }}' </b>
                <time datetime="{{ receita.publicationDate }} 00:00">
                    <i class="fa fa-calendar" aria-hidden="true"></i> '{{ receita.publicationDate }}' 
                </time>
                <a href={{ receita.userEmail }}><i class="fa fa-envelope no-decoration" aria-hidden="true"></i> '{{ receita.userEmail }}' </a>
            </div>
        </div>

        {% comment %} space-between here {% endcomment %}
        <div class="receita-description">
            <h4>Description</h4>
            <p class="receita-description-content">
                {{ receita.description }}
            </p>
        </div>
    </div>
</div>
