{% load static %}

<a class="receita-card flex-container no-decoration" href="">
    {% comment %} cards de receitas interativos, para o Menu principal {% endcomment %}
    <img height="auto" width="100%" src={% static "Receitas/imgs/recipe1.jpg" %} alt="Tapioca de Frango">
    <div class="receita-details-container flex-container">
        <h4 class="receitas-details-title">Tapioca de Frango à Nordestina</h4>
        <div class="receita-publicationDetails-container flex-container">
            <b><i class="fa fa-user" aria-hidden="true"></i> '{{ username }}' </b>
            <time datetime="2024-09-19 00:00"><i class="fa fa-calendar" aria-hidden="true"></i> '{{ publidate }}' </time>
            <b><i class="fa fa-envelope" aria-hidden="true"></i> '{{ useremail }}' </b>
        </div>
        <p class="receita-details-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque.
        </p>
    </div>
</a>

{% comment %} TODO: waiting for implementation with context loading {% endcomment %}