@font-face {
    font-family: FixedSys;
    src: url('fonts/Fixedsys\ Excelsior\ 3.01\ Regular.ttf');
}

table, tr, th, td, caption {
    border: 1px solid #000;
    font-family: 'Verdana', Verdana, monospace;

    border-collapse: collapse;
    padding: 0.4rem
}

/* to change a class use a point in the left. */
.lef-table { 
    float: right;
    border: 3px solid #da3a3a;
    font-size: x-large;

}

textarea {
    border: 4px solid rgba(5, 255, 5, 0.500);   
}

.textarea_input {
    float: left;
}



.cusSpaces {
    border: 1px solid #8f241c;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 2rem;
    border-width: 2px;
    border-block-end-width: thick;

}