*{
    box-sizing: border-box;
}

body{
    
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1{

}