/* Cards de Receitas */
.receita-card{
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 2px 6px 1px rgb(0,0,0, 0.45);
    cursor: pointer;
    
    transition: all 0.2s ease-out;
}

.image-cropper{
    overflow: hidden;
}
.receita-card img{
    margin-top: 0rem;
    width: 100%;
    height: auto;
}

.receitas-details-title{
    font-size: 2rem;
    align-self: flex-start;
    margin: 0.4rem 0rem;
}
.receita-details-container{
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    margin: 0.7rem;
}
.receita-publicationDetails-container{  
    width: 100%;
    margin: 0.4rem 0rem;
    font-family: 'Open Sans', sans-serif;
}
.receita-publicationDetails-container *{
    word-break: keep-all;
    word-wrap: none;
    font-size: 0.7rem;
    padding-right: 1rem;
}
.receita-details-description{
    font-size: 0.7rem;
}

/* Hover on Cards */
.receita-card:hover{
    box-shadow: 0px 2px 10px 5px rgb(0,0,0, 0.5);
    transform: scale(1.023);
}